body {
    margin: 0;
    padding: 0;
    background-color: rgb(232, 230, 242);
    display: flex;
    justify-content: center;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.app {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px, rgba(0, 0, 0, 0.08)0 0 0 1px;
    padding: 10px;
    width: 800px;
    margin-top: 80px;
    margin-bottom: 70px;
    border-radius: 10px;

}

.button-container {
    display: flex;
    align-items: center;
}

.info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.button-container button {
    margin: 0 5px;
    padding: 5 px 10 px;
    font-size: 10 px;
    border-radius: 12px;
    background-color: transparent;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #48466b;
    color: white;
    padding: 20px;


}

.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background-color: #48466b;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header h1 {
    font-size: 20px;
    margin: 0;

}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.footer-container>div {
    margin: 0 10px;
}

.edit {
    border: 1.5px solid rgb(233, 192, 89);
    color: rgb(233, 192, 89);
    background-color: transparent;
    text-transform: uppercase;

}

.edit:hover {
    background-color: rgb(249, 212, 139);
    color: white;
}

.edit:active {
    color: rgb(255, 255, 255);
    background-color: rgb(233, 149, 4);
}

.delete {
    border: 1.5px solid rgb(243, 152, 138);
    color: rgb(243, 152, 138);
    text-transform: uppercase;
}

.delete:hover {
    background-color: rgb(252, 208, 201);
    color: white;

}

.delete:active {
    background-color: rgb(228, 67, 42);
    color: rgb(255, 255, 255);
}

.create {
    padding: 5px 10px;
    border: 1.5px solid rgb(108, 115, 148);
    color: rgb(108, 115, 148);
    text-transform: uppercase;
}

.create:hover {
    background-color: rgb(131, 138, 172);
    color: white;
}

.create:active {
    background-color: rgb(108, 115, 148);
    color: rgb(255, 255, 255);
}

.forgotten {
    border: none;
    color: rgb(219, 149, 136);
    background-color: transparent;
    text-decoration: underline;
}

.forgotten:hover {
    color: rgb(0, 0, 0);
}

.forgotten:active {
    color: rgb(0, 0, 0);
}



.signout {
    padding: 5px 10px;
    border: 1.5px solid rgb(255, 255, 255);
    background-color: rgb(168, 164, 226) !important;
    color: rgb(255, 255, 255);
}

.signout:hover {
    background-color: rgb(87, 95, 193) !important;
    border: 1.5px solid rgb(255, 255, 255);
}

.signout:active {
    background-color: rgb(38, 10, 160) !important;
    border: 1.5px solid rgb(255, 255, 255) !important;
    color: rgb(255, 255, 255);
}

/* Visitor dugme*/
.login-signup-container {
    position: fixed;
    top: 30px;
    right: 100px;
}

.login-signup {
    padding: 5px 10px;
    font-size: 10 px;
    border-radius: 12px;
    background-color: transparent;
    border: 1.5px solid rgb(108, 115, 148);
    color: rgb(108, 115, 148);
    text-transform: uppercase;
}

.login-signup:hover {
    background-color: rgb(131, 138, 172);
}


.login-signup:active {
    background-color: rgb(108, 115, 148);
    color: rgb(255, 255, 255);
}

/* Visitor text*/
.quote-text p {
    color: rgb(89, 5, 99);
}

.quote-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.visitor h1 {
    color: rgb(53, 2, 62);
}

.visitor {
    align-items: center;
    margin-top: 50%;
}

.get-quote-container {
    margin-top: 30px;
    margin-left: 130px;
}

input {
    margin: 11px 0;
    padding: 12px 16px;
    border-radius: 12px;
    border: 1.5px solid rgb(201, 199, 213);
}

/*List-Header*/

.list-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: rgba(0 0 0 0.5) 1px solid;
}


/*List-Items*/

.list-item {
    width: 100%;
    margin: 10px 0;
    padding-left: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px;
    display: flex;
    justify-content: space-between;
}

/*skinuto sa svgIcons*/

.tick {
    padding: 10px;
}

.tick path {
    fill: none;
    stroke: #000;
    stroke-miterlimit: 10;
    stroke-width: 32px;

}

/*Modal*/
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 500px;
    background-color: rgb(255, 255, 255);
    padding: 40px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.5) 0 6px 24px 0, rgba(0, 0, 0, 0.08) 0 0 0 1px;
}

.modal .form-title-container {
    display: flex;
    justify-content: space-between;
}

.modal .form-title-container button {
    border: none;
    border-color: transparent;
    background-color: white;
}

.modal .form-title-container button:active {
    color: rgb(255, 50, 50);
}

.modal form {
    display: flex;
    flex-direction: column;
}

.modal label {
    font-size: 13px;

}

/*Auth*/
.auth-container {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.auth-container-box {
    width: 500px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px, rgba(0, 0, 0, 0.08) 0 0 0 1px;
}

.auth-container-box form {
    display: flex;
    flex-direction: column;
    height: 350px;
    padding: 20px;
}

.auth-options {
    display: flex;
}

.auth-options button {
    width: 50%;
    border: none;
    padding: 10px;
}


.user-email {
    float: right;
    font-size: 13px;
    margin: 10 px;
    color: rgb(114, 114, 144);
}

.outer-bar {
    width: 200px;
    height: 14px;
    background-color: rgb(216, 216, 216);
    border-radius: 7px;
    overflow: hidden;
    display: flex;
}

.inner-bar {
    height: 14px;

}

.task-title {
    width: 250px;

}

.forgotten-top-container h2 {
    margin-top: 30px;
    color: rgb(39, 1, 45);


}

.reset-form label {
    color: #2a0238;

}

.reset-form {
    border: 1px solid rgb(135, 135, 135);
    border-radius: 8px;
    padding: 30px;
    background-color: rgb(245, 233, 233) ;
}

.forgotten-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Forgotten password stranica*/
.reset-password {
    padding: 5px 10px;
    margin-top: 20px;
    font-size: 10 px;
    border-radius: 12px;
    background-color: transparent;
    border: 1.5px solid rgb(108, 115, 148);
    color: rgb(108, 115, 148);
    text-transform: uppercase;
}

.reset-password:hover {
    background-color: rgb(131, 138, 172);
}


.reset-password:active {
    background-color: rgb(108, 115, 148);
    color: rgb(255, 255, 255);
}

.radio-input {
    margin-right: 10px;
}

.task-category {
    margin-left: 20px;
    color: rgb(144, 128, 236);
}

.combo-box {
    border-radius: 10px;
    padding: 5px;
    border-color: rgb(160, 160, 160);
    outline: none;
}

.button-page {
    margin-top: 10px;
    border-radius: 5px;
    border-color: rgb(160, 160, 160);
    outline: none;
    background-color: transparent;
    margin-right: 5px;
   
}

.pagination-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.task-container {
    margin-top:-30px;
    margin-bottom: -20px;

    
}