body{
    margin: 0;
    padding:0;
    background-color: rgb(187, 222, 225);
    display:flex;
    justify-content: center;
    font-family: 'Trebuchet MS', Arial, sans-serif;


}
.app{
background-color: rgb(227, 215, 235);
box-shadow: rgba(0,0,0,0.05) 0 6px 24px, rgba(0,0,0,0.08)0 0 0 1px;
padding: 10px;
width: 800px;
margin-top: 50px;
border-radius: 10px;

}
.button-container, .info-container{
display:flex;
align-items: center;
}
.button-container button{
    margin:0 5px;
    padding:5 px 10 px ;
    font-size: 10 px;
    border-radius: 12px;
    background-color: transparent;
  }

.list-header{

    width:100%;
    display:flex;
    justify-content: space-between;
    border-bottom: rgba(0 0 0 0.5) 1px solid;
    

}

/*List-Items*/

.list-item{
    width: 100%;
    margin: 10px 0;
    padding-left: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px;
    display: flex;
    justify-content: space-between;
}

